.mat-mini-fab.mat-accent {
  bottom: 10px;
  background-color: #9932cc;
}

h3 {
  color: white;
  font-weight: 500;
  justify-content: center;
}

.mat-toolbar-single-row {
  justify-content: center;
  background-color: #9932cc;
}

table {
  width: 90%;
  overflow-x: auto;
  overflow-y: auto;
}

.table-class {
  margin-top: 10px;
  margin-left: 20px;
}

.form-class {
  margin-top: 20px;
}

.add-button-class {
  margin-top: 15px;
}

.display-button-class {
  margin-top: 20px;
}

.mat-raised-button {
  width: 100%;
  background-color: #9932cc;
  color: white;
}

.mat-button {
  border: 2px solid #9932cc;
  margin-left: 20px;
  margin-top: 20px;
  color: #9932cc;
}

.mat-mini-fab.mat-accent {
  bottom: 0;
}

.delete-button {
  margin-left: 4px;
}
